*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 518px;
    height: 600px;
    background-color:#ccc;
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    border: 1px solid gray;
}

.imgup,.imgdown{

    display: flex;
}
.frigo{
    height:250px;
    width: 250px;
}
.oled{
    height: 250px;
    width: 250px;
}
.maxwell{
    height: 250px;
    width: 266px;
}
.logo{
    width:200px ;
    height: 200px;
    border-radius: 150px;
    position: absolute;
    top: 150px;
    left: 160px;
}
.gps{
    height: 15px;
    
}
.store{
    height: 15px;
    
}
h4{
    color: orangered;
}
h5{
    color: blue;
}